* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: $bg-light;
    font-size: 14px;
    background-image: linear-gradient(white, #E4BECF);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-secondary;

    &:hover {
        text-decoration: underline;
    }
}

.hidden {
    display: none;
}